.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #ffffff, #004990);
  color: #0a3166;
  text-decoration: none;
  transition: background 0.3s ease;
  position: relative;
  box-sizing: border-box;
}

.widget-header {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0 0 10px;
}

.widget-subheader {
  font-size: 1em;
  margin: 0;
}

.hover-button {
  opacity: 0; /* Initially hidden */
  display: flex; /* Ensure it's positioned and takes up space */
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 12px 24px;
  font-size: 1.125em;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  text-align: center;
  transition: opacity 0.4s ease; /* Only transition opacity */
}

.widget-container:hover .hover-button {
  opacity: 1; /* Fade in */
}

.widget-container:hover {
  --x: 50%;
  --y: 50%;
}

.hover-button:hover {
  background: rgba(255,255,255,0.1);
}
